.epicTravelSmP, .bigeyeSmP, .goodDollarSmP {
  font-size: 14px;
  color: #909090;
  line-height: 2;
}

.aboutTitle, .bigeyeTitle, .goodDollarTitle, .epicTravelTitle {
  padding-bottom: 40px;
  font-size: 27px;
}

.goodDollarPopup, .epicTravelPopup, .popupBigeye {
  background: white;
  background-size: cover;
  max-height: auto;
  overflow: auto;
}

html {
  font-family: 'Karla', sans-serif;
}

body {
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
  font-family: 'Karla', sans-serif;
}

a {
  color: #f0f;
}

/* BLUR WHEN ACTIVE POPUP */
.allPics#blur.active {
  -webkit-filter: blur(20px) grayscale(1);
          filter: blur(20px) grayscale(1);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* ABOUT POPUP */
#popup, #popupbigeye, #goodDollarPopup, #epicTravelPopup {
  /* position: fixed;
  top: 6%;
  left: 75%; */
  background-color: #fff;
  z-index: 10;
  /* width: 600px; */
  max-width: 850px;
  /* min-height: 100%; */
  /* width: 100%; */
  height: 100%;
  padding: 50px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

#popupbigeye {
  /* position: fixed;
  top: 6%;
  left: 75%; */
  background-color: #fff;
  z-index: 10;
  /* width: 600px; */
  max-width: 850px;
  height: 100%;
  /* width: 100%; */
  padding: 50px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

#epicTravelPopup.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  /* left:55%; */
}

#popupbigeye.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  /* left:55%; */
}

#goodDollarPopup.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  /* left:55%; */
}

@media only screen and (max-width: 925px) {
  #popup {
    height: auto;
    width: 100%;
  }
  .joeyTrishArtist {
    height: auto;
    width: auto;
  }
}

#popup.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  /* left:55%; */
}

.fa {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.joeyEmailLink {
  display: inline-block;
  text-decoration: none;
}

.logo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'karla', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #111;
  padding-top: 20px;
}

.main-nav {
  padding-top: 20px;
  padding-left: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: #999;
}

.nav_links a {
  text-decoration: none;
  color: #999;
}

/*EFFECTS*/
.overlay:hover {
  color: #111;
}

/* WORDS INSIDE OF HOVER */
.title {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.wrapper, .box1 {
  position: relative;
}

/*OVERLAY*/
.overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background: #212529a6;
}

.wrapper:hover .overlay {
  opacity: 1;
}

.box, .box1 {
  width: 100%;
  height: auto;
}

.thumbGrid {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: (minmax(400px, 2fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  grid-gap: auto;
}

@media only screen and (max-width: 840px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    padding-top: 20px;
  }
  .mainPage {
    padding: 0;
  }
  .bigeyepDiv {
    padding-left: 0;
  }
}

/* BIGEYE POPUP */
.bigeyeLgP {
  line-height: 1.65;
  font-size: 17px;
}

.popupImages {
  max-width: 100%;
  margin: 20px auto;
  height: auto;
}

@media only screen and (max-width: 350px) {
  li {
    font-size: .5rem;
    padding: 5px;
  }
  .thumbGrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    grid-gap: auto;
  }
}

/* goodDollar popup */
/*# sourceMappingURL=main.css.map */